#main{
    width: 30vw;
    height: 50vh;
    border: 1px solid black;
     margin: 5% auto;

    display: flex;
    flex-flow: column;
    }





#form{
    
    width: 100%;
    height: 60%;
}
#form  button{
     width: 100%;
   height: 15%;
    background-color: blueviolet;
    
}

input{
    width: 98%;
    height: 15%;
}

#main button{
     width: 100%;
    height:10%;
}