*{
    margin: 0%;
    padding: 0%;
}
#main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: aquamarine;

    display: flex;
    flex-flow: column;
}

#navbar{
    width: 90%;
    height: 10%;
    border: 1px solid black;
    margin: auto;
  
    
}

#bottom{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    margin: auto;
  
    
}

 button{
    width: 20%;
    background-color: cadetblue;
}

h2{
    margin: 0%;
      text-align: center;
    align-items: center;
}
#name{
    width: 10%;
    margin-left: 20%;
}
